@use "../abstract/fonts" as *;
@use "../abstract/colors.module" as *;
@use "../abstract/responsive" as *;
@use "../components/cards-headers";

.main-teaching {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.teachingGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 40px;
  padding: 25px;
  grid-auto-flow: row dense;
  margin-top: 30px;

  @include tablet {
    grid-template-columns: repeat(2, minmax(350px, 400px));
    grid-gap: 20px 20px;
  }

  @include desktop {
    grid-template-columns: repeat(2, minmax(350px, 400px));
    grid-gap: 30px 30px;
  }

  @include large {
    grid-template-columns: repeat(3, minmax(350px, 400px));
    grid-gap: 40px 40px;
  }
}
