@use "./sections/layout";
@use "./sections/teaching";
@use "./sections/projects";
//@import "./sections/about";
//@import "./sections/blog";
//@import "./sections/courses";
//@import "./sections/teaching";
//@import "./component/modal";
//@import "./abstract/fonts";
//@import "./component/single-image";
body {
  margin: 0px;
  //overflow: auto;
  //scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.section {
  //border: 1px solid red;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0px;
  width: 100%;
  img {
    width: 100%;
  }
}
