@use  "./sections/layout";
//@import "./sections/about";
//@import "./sections/blog";
//@import "./sections/courses";
//@import "./sections/teaching";
//@import "./component/modal";
//@import "./abstract/fonts";
//@import "./component/single-image";

body {
  margin: 0px;
  //overflow: auto;
  //scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

figure {
  margin: 0px;
  width: 100%;
  img {
    width: 100%;
  }
}